test_*
coral/*
synthetic_testing*
ABERS*

breqfasting/EA*
breqfasting/request_details
sac2mat/license.txt

anelasticity/messing_around

*.DS_Store
*.m~
*.zip
*.png
*.jpg
*.eps
*.pdf
*.svg
*.tif
*.html
*.mat
*.fig
*.asv
*.xyz
*.jar
